body{
    background-color: rgb(59, 2, 11);
}
#header{
    background-color: rgb(59, 2, 11);
    color: rgb(250, 9, 9);
}
.links{ 
    color: rgb(253, 93, 93);
}
.main{
    background-color: rgb(177, 86, 86);
}
#footer{
    background-color: rgb(59, 2, 11);
    color: rgb(250, 6, 6);
}